<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    </style>
</head>
<body>

    
    <h1>Lists Page</h1>

    <ul>
        <li><a href="{% url 'student_list' %}">Student lists</a></li>
        <li><a href="{% url 'staff_list' %}">Staff lists</a></li>
    </ul>

    <h1>Logins Page</h1>

    <ul>
        <li><a href="{% url 'student_login' %}">Student login</a></li>
        <li><a href="{% url 'staff_login' %}">Staff login</a></li>
    </ul>


</body>
</html>
